<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    welcome
    <div class="register">
        <h1>Register</h1>
        Name:<input type="text" name="name">
        Alias: <input type="text" name="alias">
        Email: <input type="text" name="email" >
        Password:<input type="Password" name="password">
        (*Password should be more than 8 characters)
        Confirm Password:<input type="Password" name="Cpassword" value="">
    </div>
  </body>
</html>
